.nav-elements:hover{
    font-weight: 500;
    color:blueviolet;
    border-bottom: 3px solid blue;
    
}

.resume:hover{
    color:cornflowerblue
}

.name:hover{
    transform: scale(1.25);
    color:chocolate;
    transition: 0.5s;
}