.nav-elements{
    border-bottom: 2px solid transparent;
}

.nav-elements:hover{
    
    font-weight: 700;
    border-bottom: 2px solid blue;
   

}


.name:hover{
    font-family: "Dancing Script", cursive;
    transform: scale(1.25);
    
    transition: 0.5s;
}