.nav-elements:hover{
    font-weight: 700;
    color:blueviolet;
    border: transparent;
}

.resume:hover{
    color:cornflowerblue
}

.name:hover{
    transform: scale(1.25);
    color:chocolate;
    transition: 0.5s;
}